.modal-backdrop{
    position:static;
}
.card-image{
    width:100%;
    overflow:hidden;
    position:relative;
}
.card{
    max-width:450px;
}
.aboutMeCard{
    margin-top:auto;
    margin-bottom: auto;
    padding-left:25px;
    padding-right:25px;
    margin-right:50px;
    float:left;
}
.projectBlogContainer{
    margin-left:25px;
}
.projectCard{
    padding-left:25px;
    padding-right:25px;
}
.container{
    padding-top: 30px;
}