.carousel{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
.slide{
    width:78%;
    margin-left:auto;
    margin-right:auto;
}
.carousel-left{
    width: 40%;
    margin-left:auto;
}
.carousel-right{
    float:right;
    
}
.div{
    display:block;
}