<nav class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#narbar-collapse" aria-expanded="false">
        <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngFor="let link of links" class="nav-item" [ngClass]="link.active">
                    <a href="{{link.url}}">{{link.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
