<form class="signup-form" name="signUpForm" #signUpForm="ngForm">
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input 
            name="firstname"
            type="text"
            class="form-control"
            id="firstname"
            placeholder="Enter your first name"
            [(ngModel)]="firstName"
            #firstNameInputField="ngModel"
            required/>
        <div [hidden]="firstNameInputField.valid || firstNameInputField.pristine" class="alert alert-danger">
        The first name field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">First Name:</label>
        <input 
            name="lastname"
            type="text"
            class="form-control"
            id="lastname"
            placeholder="Enter your last name"
            [(ngModel)]="lastName"
            #lastNameInputField="ngModel"
            required/>
        <div [hidden]="lastNameInputField.valid || lastNameInputField.pristine" class="alert alert-danger">
        The last name field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input 
            name="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email address"
            [(ngModel)]="email"
            #emailInputField="ngModel"
            required/>
        <div [hidden]="emailInputField.valid || emailInputField.pristine" class="alert alert-danger">
        The email field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input 
            name="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter a password"
            [(ngModel)]="password"
            #passwordInputField="ngModel"
            required/>
        <div [hidden]="passwordInputField.valid || passwordInputField.pristine" class="alert alert-danger">
            The password field is required
        </div>
    </div>
     <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input 
            name="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Enter the password again"
            [(ngModel)]="confirmPassword"
            #confirmPasswordInputField="ngModel"
            required/>
        <div [hidden]="confirmPasswordInputField.valid || confirmPasswordInputField.pristine" class="alert alert-danger">
            
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitSignUpForm()" [disabled]="!signUpForm.valid">Sign up</button>
</form>
   
